<style>
	:global(*){
		padding: 0;
		margin: 0;
		font-family: consolas, monospace;
		font-size: 1em;
	}
	:global(html, body){
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-content: stretch;
		background-color: #222;
		color: #FFF;
	}
	:global(*::-webkit-scrollbar){
		width: 0.5em;
		border: 1px solid #FFF;
	}
	:global(*::-webkit-scrollbar-track){
		border-radius: 1em;
		background-color: #000;
	}
	:global(*::-webkit-scrollbar-thumb){
		border-radius: 1em;
		background-color: #222;
		border: 1px solid #FFF;
	}
	button{
		background-color: #222;
		border: 1px solid #FFF;
		color: #FFF;
		padding: 0.4em;
		margin: 0.2em;
		text-transform: uppercase;
	}
</style>
<script>
	import {Player, Channel, Modulator, Instrument} from 'doot-deet'
	import Selector from './selector'

	let selector

	const player = new Player()
	const volume = new Modulator(
		{v:0, d:0},
		{v:1, d:0.05},
		{v:1, d:0.1},
		{v:0, d:0.05}
	)
	let playing
	let cancel
	const play = async id=>{
		let token = selector.current()
		let wait = false
		do{
			if(token.match(/\n/)) wait = true
			if(token.match(/\s/)) continue
			const pitches = [...token].map(c=>{
				const pitch = c.charCodeAt(0)/8 + 20
				if(pitch >= 80) return 19 //don't blow out ears, idk
				return pitch
			})

			const playing = Channel.looper({
				volume: volume.toDuration(0.1 + 0.02*token.length),
				rPitch: new Modulator(...pitches.map(p=>[0.1, p])),
				instrument: Instrument.viohorn,
				rStart: wait? (wait=false) || 1.5: 0
			})
			const data = await player.play([playing])
			console.log(token, ...pitches, data)
		}while(cancel !== id && (token = selector.next()))
	}
</script>
<button on:click={()=>{
	cancel = playing
	play(playing = Date.now())
}}>Go</button>
<Selector bind:this={selector}/>
