<script>
import {onMount} from 'svelte'
	export let textarea
	export let value
	onMount(()=> textarea.focus())
</script>
<style>
	textarea{
		margin: 1em;
		padding: 0.3em;
		border-radius: 0.3em;
		border: 1px solid #555;
		outline: none;
		flex: 1 1 auto;
		background-color: #222;
		color: #FFF;
	}
	textarea:focus{
		border-radius: 0.3em;
		border: 1px solid #EEE;
	}
</style>
<textarea bind:this={textarea} bind:value on:focusout/>
